<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Well-wisher</title>
</head>

<body>
  <button>Get a Random Well Wish</button>
  <p></p>
  <script type="module">

    document.querySelector('button').addEventListener('click', async () => {
      const form = new FormData();
      form.append('prompt', 'write a well wish in one sentence');
      const result = await (await fetch('https://stable-diffusion-and-gpt-3.wl.r.appspot.com/api/gpt-3', {
        method: 'POST',
        body: form
      })).json();
      document.querySelector('p').textContent = result.text;
    });

  </script>
</body>

</html>