<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Well-wisher</title>
</head>

<body>
  <h1>Well-wisher</h1>
  <p>A simple app to wish you well.</p>
  <button>Wish me well</button>
  <p id="result"></p>
  <script type="module">
    
    const server = '<put the URL of the server here>';

    document.querySelector('button').addEventListener('click', async () => {
      const form = new FormData();
      const button = document.querySelector('button');
      button.disabled = true;
      form.append('prompt', 'write a well wish in one sentence');
      const result = await (await fetch(`${server}/api/gpt-3`, {
        method: 'POST',
        body: form
      })).json();
      document.querySelector('#result').textContent = result.text;
      button.disabled = false;
    });

  </script>
</body>

</html>